<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
    <style>
        body {
            background-color: #F8F9F9;
        }
        #first-name, #last-name, #email {
            background-color:#FBE39D;
        }
    </style>
</head>

<body>

<nav class="navbar fixed-top navbar-dark bg-dark p-0">
    <div class="container-fluid">
        <div class="hstack gap-5">
            <span class="text-white"><b th:text="${authUser.email}"></b></span>
            <span class="text-white">with roles:</span>
            <span class="text-white" th:each="role : ${authUser.roles}" th:text="${role} + '  '"></span>
        </div>
        <div class="navbar-nav"><a class="nav-link text-end" href="/logout">Logout</a></div>
    </div>
</nav>

<br>

<div class="container-fluid">
    <div class="row">

        <div class="nav-pills col-auto col-md-3 col-xl-2 min-vh-100 px-sm-0 px-0 pt-5 bg-white">
            <a class="nav-link active" id="v-pills-admin-tab" href="/admin/" role="tab" aria-controls="v-pills-admin" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-user-tab" href="/admin/user" role="tab" aria-controls="v-pills-user" aria-selected="false">User</a>
        </div>

        <div class="col px-4 pe-5">
            <br>
            <br>

            <h1 class="pb-3 pt-1">Admin panel</h1>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">New User</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="card">

                        <div class="card-header">
                            <h4>All Users</h4>
                        </div>

                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${allUsers}">
                                    <td th:text="${user.name}"></td>
                                    <td th:text="${user.lastName}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td>
                                        <ul class="list-inline">
                                            <li class="list-inline-item" th:each="role : ${user.roles}" th:text="${role}"></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal" th:attrappend="data-target=${user.id}">Edit</button>

                                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" th:attrappend="id=${user.id}">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">

                                                    <form th:method="POST" th:action="@{/admin/{id}(id=${user.getId()})}">

                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Edit user</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>

                                                        <div class="modal-body container-fluid text-center col-6">

                                                            <div>
                                                                <div class="text-center pt-3 pb-0"><b>ID</b></div>
                                                                <input type="text" class="form-control" th:value="${user.id}" readonly="readonly">
                                                            </div>

                                                            <div>
                                                                <div class="text-center pt-3 pb-0"><b>First Name</b></div>
                                                                <input type="text" class="form-control" name="name" th:value="${user.name}"/>
                                                            </div>

                                                            <div>
                                                                <div class="text-center pt-3 pb-0"><b>Last Name</b></div>
                                                                <input type="text" class="form-control" name="lastName" th:value="${user.lastName}"/>
                                                            </div>

                                                            <div>
                                                                <div class="text-center pt-3 pb-0"><b>Email</b></div>
                                                                <input type="text" class="form-control" name="email" th:value="${user.email}"/>
                                                            </div>

                                                            <div>
                                                                <div class="text-center pt-3 pb-0"><b>Password</b></div>
                                                                <input type="text" class="form-control" name="pass" th:value="${user.pass}"/>
                                                            </div>

                                                            <div>
                                                                <div class="text-center pt-3 pb-0"><b>Role</b></div>
                                                                <select multiple size="2" name="roles[]" th:required="true" class="form-control" >
                                                                    <option th:each="role : ${roles}" th:value="${role.id}" th:text = "${role.role}"></option>
                                                                </select>
                                                            </div>

                                                            <br>

                                                        </div>

                                                        <div class="modal-footer text-end">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Edit</button>
                                                        </div>

                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" th:attrappend="data-target=${user.id}">Delete</button>

                                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" th:attrappend="id=${user.id}">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">

                                                    <form th:method="POST" th:action="@{/admin/delete/{id}(id=${user.getId()})}">

                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Delete user</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>

                                                        <div class="modal-body container-fluid text-center col-6">

                                                            <div>
                                                                <div class="text-center pt-3 pb-0"><b>ID</b></div>
                                                                <input type="text" class="form-control" th:value="${user.id}" readonly="readonly">
                                                            </div>

                                                            <div>
                                                                <div class="text-center pt-3 pb-0"><b>First Name</b></div>
                                                                <input type="text" class="form-control" name="name" th:value="${user.name}" readonly="readonly"/>
                                                            </div>

                                                            <div>
                                                                <div class="text-center pt-3 pb-0"><b>Last Name</b></div>
                                                                <input type="text" class="form-control" name="lastName" th:value="${user.lastName}" readonly="readonly"/>
                                                            </div>

                                                            <div>
                                                                <div class="text-center pt-3 pb-0"><b>Email</b></div>
                                                                <input type="text" class="form-control" name="email" th:value="${user.email}" readonly="readonly"/>
                                                            </div>

                                                            <div>
                                                                <div class="text-center pt-3 pb-0"><b>Password</b></div>
                                                                <input type="text" class="form-control" name="pass" th:value="${user.pass}" readonly="readonly"/>
                                                            </div>

                                                            <div>
                                                                <div class="text-center pt-3 pb-0"><b>Role</b></div>
                                                                <select multiple size="2" name="roles[]" th:required="true" class="form-control" readonly="readonly">
                                                                    <option th:each="role : ${roles}" th:value="${role.id}" th:text = "${role.role}"></option>
                                                                </select>
                                                            </div>

                                                            <br>

                                                        </div>

                                                        <div class="modal-footer text-end">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <div class="card">

                        <div class="card-header">
                            <h4>Add new user</h4>
                        </div>

                        <div class="card-body">
                            <div class="container-fluid text-center col-4">

                                    <form th:action="@{/admin/save}" th:object="${newUser}" method="post">

                                        <input type="hidden" th:field="${newUser.id}">

                                        <div>
                                            <div class="text-center pt-4 pb-0"><b>First Name</b></div>
                                            <input type="text" class="form-control" id="first-name" th:field="${newUser.name}"/>
                                        </div>

                                        <div>
                                            <div class="text-center pt-4 pb-0"><b>Last Name</b></div>
                                            <input type="text" class="form-control" id="last-name" th:field="${newUser.lastName}"/>
                                        </div>

                                        <div>
                                            <div class="text-center pt-4 pb-0"><b>Email</b></div>
                                            <input type="text" class="form-control" id="email" th:field="${newUser.email}"/>
                                        </div>

                                        <div>
                                            <div class="text-center pt-4 pb-0"><b>Password</b></div>
                                            <input type="text" class="form-control" id="password" th:field="${newUser.pass}"/>
                                        </div>

                                        <div>
                                            <div class="text-center pt-4 pb-0"><b>Role</b></div>
                                            <select multiple size="2" name="roles[]" th:required="true" class="form-control" >
                                                <option th:each="role : ${roles}" th:value="${role.id}" th:text = "${role.role}"></option>
                                            </select>
                                        </div>

                                        <div class="text-center pt-3">
                                            <button class="btn btn-success" type="submit">Add new user</button>
                                        </div>

                                    </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>