<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>

<h2>Users</h2>

<br>

<table>
    <tr>
        <th>name</th>
        <th>last name</th>
        <th>email</th>
        <th>operations</th>
    </tr>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <form th:action="@{/api/update/{id}(id=${user.id})}">
            <input type="submit" value="edit"/>
        </form>

        <form th:action="@{/api/delete/{id}(id=${user.id})}">
            <input type="submit" value="delete"/>
        </form>
        </td>
    </tr>
</table>

<br>

<input type = "button" value = "add"
       onclick = "window.location.href = '/api/add'"/>

</body>
</html>